html {
    font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
    font-family: system-ui;
}

body :not(:is(h1,h2,h3,h4,h5,h6)) {
    line-height: 1.75;
}

body {
    background: #1d1f21;
    margin: 0;
    overflow-x: clip;
}

.flipped-parts {
    background-color: #1d1f21;
}

div {
     position: relative;
}

.conversation:before {
    content: '';
    height:100%;
    /* min-height: 100vh; */
    display: inline-block;
    margin-right: -0.25em;
}

.conversation {
    text-align: left;
    display: inline-block;

    color: #e0e0e0;
    font-size: 2vmax;
    margin: 0;

    max-width: 50ch;
    padding: calc(1vmin + 0.5rem);
    margin-inline: auto;
}

.end-img {
    object-fit: cover;
    display: block;
    width:100vw;
    height:100vh;
}

.centerer {
}
.scene-img {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
    position: sticky;
    top: 0%;
    left: 100%;
    display: block;
    background-color: #1d1f21;
}

.scene {
    background-color: #1d1f21;
    /* height:100vh; */
}

.narration {
    background-color: #1d1f21d0;
    display: block;
    padding: 5%;
    text-align: center;
    line-height: 1.5;
}

.dialogue {
    color: #1d1f21d0;
    font-size: 2vmax;
    display: flex;
}
.dialogue-text {
    background-color: #e0e0e0;
    display: block;
    position: relative;
    padding: 1ch;
    margin: 2%;
}

.icon-column {
    display: block;
}
.icon {
    display: block;
    position: sticky;
    top: 0%;
    left: 0%;
}

/*
@media (prefers-color-scheme: dark) {
    body {
        background: #1d1f21;
    }
    .header {
        color: #e0e0e0;
    }
    a {
        color: #1d1f21;
    }
    a:hover {
        color: #e0e0e0;
    }
}
*/
